.heading {
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;
}

#start, #status {
    font-size: 23px;
}

h4 {
    background-color: white;
    line-height: 2;
    margin: 0px;
}

.modal-dialog {
    width: 90%;
    font-size: 30px;
}

video {
    background-size: cover;
    background-position: center;
    padding: 25px;
    margin: 20px;
}

ol {
    text-align: left;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


